name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: macos-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Install Roc
        uses: hasnep/setup-roc@main
        with:
          roc-version: nightly

      - name: Test the library
        #run: find . -name "*.test.roc" -exec roc test "{}" --linker=legacy \;
        run: roc test ./Score.test.roc --linker=legacy
